.container {
  position: relative;
}
input {
  width: 100%;
  height: 24px;
  border: 1px solid lightgrey;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 5px;
}

.suggestioncontainer {
  position: absolute;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: darkgrey;
  top: 48px;
}
