.cell {
    width: 30px;
    height: 30px;
  }
  .board {
    border: 1px solid black;
    width: fit-content;
  }
  .row {
    display: flex;
  }
  .dark {
    background: black;
  }
  .white {
    background: white;
  }
  .highlight {
    background: red;
  }